.memory-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.memory-table {
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 8px;
}

.memory-table tr {
    background-color: #f0f0f0;
}

.memory-table tr td {
    border: 1px solid #000;
    text-align: center;
    padding: 2px;
    height: 10px;
}

.memory-cell {
    width: 150px;
}

.hovered {
    background-color: rgba(58, 133, 255, 0.351) !important; 
}

.time-container {
    margin: 1rem 0;
}