.process-size {
  width: 100px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #e5e5e5;

}

.memory-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.memory-table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 200px;
}

.memory-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.active {
    background-color: #d4f4dd;
}